#userList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  #userGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}
@media screen and (max-width: 650px) {
  #userList {
    #userGrid {
      grid-template-columns: 1fr 1fr;
    }
  }
}
