#articleContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-left: solid 1px var(--ctp-mocha-surface0);
  border-right: solid 1px var(--ctp-mocha-surface0);
  padding: 2rem 0;

  #article {
    flex-grow: 1;
    border-radius: 0.5rem;
    margin-bottom: 2rem;

    h1 {
      font-size: 2.25rem;
      font-weight: 100;
      line-height: 2.75rem;
      width: 100%;
      padding: 0 1rem;
    }
    .date {
      color: var(--ctp-mocha-surface2);
      display: block;
      font-size: 0.875rem;
    }
    #articleImgContainer {
      width: 100%;
      background-color: var(--ctp-mocha-crust);
      border-top: solid 1px var(--ctp-mocha-surface0);
      border-bottom: solid 1px var(--ctp-mocha-surface0);
      display: flex;
      justify-content: center;
      margin: 2rem 0;
      overflow: hidden;

      img {
        max-width: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
    }
    p {
      line-height: 1.5rem;
      margin-top: 1rem;
      padding: 0 1rem;
    }
    #articleMeta {
      display: flex;
      padding: 1rem 1rem 0;
      align-items: center;
      gap: 1rem;
    }
  }
}
@media screen and (max-width: 1200px) {
  #articleContainer {
    border: none;
    padding: 2rem 0;
    #article {
      h1 {
        padding: 0;
      }
      #articleImgContainer {
        border: none;
      }
      #articleMeta {
        padding: 1rem 0 0;
      }
      p {
        padding: 0;
      }
    }
  }
}
@media screen and (max-width: 650px) {
  #articleContainer {
    #article {
      h1 {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 200;
      }
    }
  }
}
