#articleContainer {
  display: flex;
  flex-direction: column;
  #article {
    flex-grow: 1;
    background-color: var(--ctp-mocha-crust);
    border-radius: 0.5rem;
    padding: 2rem;
    margin-bottom: 2rem;

    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 3rem;
      width: 100%;
    }
    .date {
      color: var(--ctp-mocha-surface2);
      display: block;
      padding-top: 1rem;
    }
    #articleImgContainer {
      width: 100%;
      background-color: var(--ctp-mocha-mantle);
      border-radius: 0.4rem;
      display: flex;
      justify-content: center;
      margin: 2rem 0;
      overflow: hidden;

      img {
        max-width: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
    }
    p {
      line-height: 1.5rem;
      margin-top: 1rem;
    }
    #articleMeta {
      display: flex;
      padding-top: 2rem;
      align-items: center;
      gap: 1rem;
    }
  }
}
@media screen and (max-width: 650px) {
  #articleContainer {
    #article {
      h1 {
        font-size: 1.5rem;
        line-height: 2.25rem;
      }
    }
  }
}
