.userCard {
  background-color: var(--ctp-mocha-crust);
  padding: 2rem 1rem;
  border-radius: 0.5rem;

  .userImage {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50vh;
    overflow: hidden;
    background: #fff;
    position: relative;
    border: solid 0.375rem var(--ctp-mocha-green);
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  h2 {
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
  }
  h3 {
    padding-top: 0.5rem;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    color: var(--ctp-mocha-rosewater);
  }
}
