#articleList {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-left: solid 1px var(--ctp-mocha-surface0);
  border-right: solid 1px var(--ctp-mocha-surface0);
  padding: 2rem 0;

  #articleHeader {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 1rem;

    #filters {
      align-items: center;
      display: flex;
      gap: 0.25rem;
    }
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media screen and (max-width: 1200px) {
  #articleList {
    border: none;
    padding: 2rem 0;

    #articleHeader {
      padding: 0 0 1rem;
    }
  }
}
@media screen and (max-width: 650px) {
  #articleList {
    #articleHeader {
      #filters {
        .hide {
          display: none;
        }
      }
    }
  }
}
