#logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;

  svg {
    width: 2.75rem;
    height: 2.75rem;
  }
  > span {
    font-size: 2.5rem;
    font-weight: 300;
    background-image: linear-gradient(45deg, rgba(166, 227, 161, 1) 0%, rgba(137, 180, 250, 1) 100%);
    background-size: 100%;
    background-clip: text;
    color: transparent;

    .bold {
      font-weight: 700;
      text-shadow: 0 0 10px var(--ctp-mocha-blue);
    }
  }
}
