#logo {
  display: flex;
  align-items: center;
  gap: 1rem;

  svg {
    width: 2.75rem;
    height: 2.75rem;
  }
  span {
    font-size: 2.5rem;
    font-weight: 300;

    .bold {
      font-weight: 700;
    }
  }
}
