@keyframes satellite {
  0% {
    left: 35px;
    top: 35px;
    z-index: 1;
    transform: scale(1);
    color: var(--ctp-mocha-text);
  }
  25% {
    transform: scale(1.2);
  }
  49% {
    z-index: 1;
  }
  50% {
    left: -5px;
    top: -5px;
    z-index: -1;
    transform: scale(1);
    color: var(--ctp-mocha-text);
  }
  75% {
    transform: scale(0.8);
    color: var(--ctp-mocha-base);
  }
  99% {
    z-index: -1;
  }
  100% {
    left: 35px;
    top: 35px;
    z-index: 1;
    transform: scale(1);
    color: var(--ctp-mocha-text);
  }
}
#logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  position: relative;

  #globe {
    width: 2.75rem;
    height: 2.75rem;
  }
  #satellite {
    width: 12px;
    height: 12px;
    filter: drop-shadow(0 4px 0 rgba(0, 0, 0, 0.2));
    position: absolute;
    animation-name: satellite;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  > span {
    font-size: 2.5rem;
    font-weight: 300;
    background-image: linear-gradient(45deg, rgba(166, 227, 161, 1) 0%, rgba(137, 180, 250, 1) 100%);
    background-size: 100%;
    background-clip: text;
    color: transparent;

    .bold {
      font-weight: 700;
      text-shadow: 0 0 10px var(--ctp-mocha-blue);
    }
  }
}
