#addComment {
  background-color: var(--ctp-mocha-surface0);
  padding: 1rem;
  border-radius: 0.5rem;
  z-index: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  #addCommentHeader {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0 1rem;
    gap: 1rem;
    align-items: center;

    h3 {
      font-size: 1.5rem;
      font-weight: 600;
    }
    .formError {
      margin-left: auto;
      display: inline-block;
      max-width: fit-content;
    }
  }

  #comment {
    width: 100%;
    resize: vertical;
    min-height: 10rem;
    padding: 1rem;
    box-sizing: border-box;
    background-color: var(--ctp-mocha-base);
    color: var(--ctp-mocha-text);
    font-family: 'Geist', Arial, Helvetica, sans-serif;
    border-radius: 0.5rem;
    outline: none;
    border: none;
  }
  #commentThanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;

    > svg {
      width: 50px;
      height: 50px;
      fill: var(--ctp-mocha-peach);
    }
  }
  .formError {
    color: var(--ctp-mocha-red);
    padding: 0.25rem 0;
  }
}
