#topicList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;

  #topicHeader {
    display: flex;
    justify-content: space-between;

    #filters {
      align-items: center;
      display: flex;
      gap: 0.25rem;
    }
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
