#header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem 2rem 1.5rem;
  position: relative;
  flex-grow: 0;
  width: 100%;
  background-color: var(--ctp-mocha-base);
  border-bottom: solid 1px var(--ctp-mocha-surface0);
}
@media screen and (max-width: 650px) {
  #header {
    padding: 2rem 1rem 1.5rem;
  }
}
