#header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem 0 1.5rem;
  position: relative;
}
@media screen and (max-width: 650px) {
  #header {
    padding: 2rem 1rem 1.5rem;
  }
}
