#nav {
  display: flex;
  gap: 1rem;

  a {
    font-size: 1.25rem;
    font-weight: 300;
    text-decoration: none;

    &.active {
      color: var(--ctp-mocha-peach);
    }
  }
  .topic {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  #nav {
    .topic {
      display: block;
    }
  }
}
