#nav {
  display: flex;
  gap: 1.25rem;

  a {
    font-size: 1.25rem;
    font-weight: 300;
    text-decoration: none;
    display: block;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: var(--ctp-mocha-surface0);
      box-shadow: 0 0 0 10px var(--ctp-mocha-surface0);
    }
    &.active {
      color: var(--ctp-mocha-blue);
    }
  }
  .topic {
    display: none;
  }
}
#mobileMenu {
  background: transparent;
  color: var(--ctp-mocha-text);
  outline: none;
  border: none;
  width: 2rem;
  height: 2rem;
  display: none;

  svg {
    width: 100%;
    height: 100%;
  }
  #mobileOverlay {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  #nav {
    .topic {
      display: block;
    }
  }
}
@media screen and (max-width: 800px) {
  #nav {
    display: flex;
    position: fixed;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: var(--ctp-mocha-surface0);
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    z-index: 100;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-out;
    transform: translateX(500%);

    a {
      font-size: 1.5rem;
    }
    &.open {
      transform: translateX(100%);
    }
  }
  #mobileMenu {
    display: block;
    position: relative;
  }
  #mobileOverlay {
    visibility: hidden;
    display: block;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    backdrop-filter: blur(5px) grayscale(60%);
    transition: opacity 0.2s ease-out;

    &.open {
      visibility: visible;
      opacity: 1;
    }
  }
}
