.articleCard {
  background-color: var(--ctp-mocha-crust);
  border-radius: 1rem;
  display: flex;
  overflow: hidden;

  .articleCardVoter {
    min-width: 50px;
    background-color: var(--ctp-mocha-base);
  }
  .articleCardContent {
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    gap: 1rem;

    .articleImgContainer {
      min-width: 170px;
      height: 100px;
      border-radius: 0.75rem;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .articleContentContainer {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding-left: 0.5rem;
      h2 {
        font-weight: 700;
        font-size: 1.25rem;
        display: block;
        padding-bottom: 0.5rem;
      }
      .date {
        color: var(--ctp-mocha-surface2);
      }

      .articlePillContainer {
        margin-top: auto;
        height: 25px;
        display: flex;
        gap: 1rem;
      }
    }
  }
}
