.articleCard {
  display: flex;
  overflow: hidden;
  border-top: solid 1px var(--ctp-mocha-surface0);
  padding: 0 1rem;

  .articleCardVoter {
    min-width: 50px;
    background-color: var(--ctp-mocha-base);
  }
  .articleCardContent {
    padding: 1rem 0;
    flex-grow: 1;
    display: flex;
    gap: 1rem;

    .articleImgContainer {
      min-width: 170px;
      height: 100px;
      border-radius: 0.5rem;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .articleContentContainer {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding-left: 0.5rem;
      > a {
        cursor: pointer;
        font-weight: 700;
        font-size: 1.25rem;
        display: block;
        padding-bottom: 0.5rem;
        text-decoration: none;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: var(--ctp-mocha-blue);
        }
      }
      .date {
        color: var(--ctp-mocha-surface2);
        font-size: 0.875rem;
      }

      .articlePillContainer {
        margin-top: auto;
        display: flex;
        gap: 1rem;
        align-items: center;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .articleCard {
    padding: 0;
  }
}
@media screen and (max-width: 650px) {
  .articleCard {
    .articleCardContent {
      flex-direction: column;
      .articleContentContainer {
        .articlePillContainer {
          padding: 2rem 0 0;
          gap: 0.5rem;

          & > span {
            font-size: 0.875rem;
          }
        }
      }
    }
  }
}
