@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 1rem;
  background-color: var(--ctp-mocha-mantle);
  min-height: 300px;
  border-radius: 0.5rem;

  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--ctp-mocha-surface0);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
}
