#sideBar {
  position: sticky;
  top: 1rem;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: flex-start;
  padding-top: 2rem;

  h2 {
    font-size: 1.5rem;
  }

  .sideBarLink {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    transition: background 0.3s ease-in-out;
    background-color: var(--ctp-mocha-surface0);
    span {
      text-transform: uppercase;
      font-weight: 300;
    }
    p {
      font-size: 0.875rem;
    }
    &.active,
    &:hover {
      background-color: var(--ctp-mocha-green);
      background-image: linear-gradient(to right, var(--ctp-mocha-green), var(--ctp-mocha-blue));
      color: var(--ctp-mocha-base);
      position: relative;
      top: -1px;

      span,
      p {
        color: var(--ctp-mocha-base);
      }
    }
    &:active {
      top: 0px;
    }
  }
}
@media screen and (max-width: 1200px) {
  #sideBar {
    display: none;
  }
}
