#sideBar {
  position: sticky;
  top: 1rem;
  min-width: 350px;
  padding: 1.5rem;
  background-color: var(--ctp-mocha-base);
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    font-size: 1.5rem;
  }

  .sideBarLink {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: background 0.3s ease-in-out;
    background-color: var(--ctp-mocha-surface0);

    span {
      text-transform: uppercase;
      font-weight: 300;
    }
    p {
      font-size: 0.875rem;
    }
    &:hover {
      background-color: var(--ctp-mocha-red);
      background-image: linear-gradient(to right, var(--ctp-mocha-red), var(--ctp-mocha-peach));
      color: var(--ctp-mocha-base);
      position: relative;
      top: -1px;

      span,
      p {
        color: var(--ctp-mocha-base);
      }
    }
    &:active {
      top: 0px;
    }
  }
}
