#footer {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0 2rem;
  color: var(--ctp-mocha-surface2);

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
      width: 25px;
      height: 25px;
    }

    &:hover {
      color: var(--ctp-mocha-rosewater);
    }
  }
}
