#footer {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0 2rem;
  color: var(--ctp-mocha-surface2);
  flex-grow: 0;
  border-top: solid 1px var(--ctp-mocha-surface0);
  width: 100%;

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--ctp-mocha-surface1);
    transition: color 0.2s ease-out;

    svg {
      width: 25px;
      height: 25px;
    }

    &:hover {
      color: var(--ctp-mocha-text);
    }
  }
}
