.pill {
  font-size: 0.875rem;
  cursor: pointer;
  background-color: var(--ctp-mocha-rosewater);
  color: rgba(0, 0, 0, 0.5);
  padding: 0.375rem 0.75rem;
  border-radius: 50vh;
  text-decoration: none;
  display: inline-block;

  &:hover {
    position: relative;
    top: -1px;
  }
  &:active {
    top: 0;
  }
  &.yellow {
    background-color: var(--ctp-mocha-yellow);
  }
  &.blue {
    background-color: var(--ctp-mocha-blue);
  }
  &.green {
    background-color: var(--ctp-mocha-green);
  }
  &.purple {
    background-color: var(--ctp-mocha-mauve);
  }
  &.margin {
    margin-left: auto;
  }
}
@media screen and (max-width: 650px) {
  .pill {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }
}
