.comment {
  border-radius: 1rem;
  border: solid 0.125rem var(--ctp-mocha-surface0);
  margin: 3rem 0 1rem;
  position: relative;
  padding: 2rem;

  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50vh;
    background-color: #fff;
    overflow: hidden;
    border: solid 0.125rem var(--ctp-mocha-surface0);
    position: absolute;
    top: -32px;
    left: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  p {
    padding: 1rem 0;
  }
}
