.comment {
  border-radius: 0.5rem;
  border: solid 0.125rem var(--ctp-mocha-surface0);
  margin: 3rem 0 1rem;
  position: relative;
  padding: 2rem;

  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50vh;
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    top: -32px;
    left: 20px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  p {
    padding: 2rem 0;
    line-height: 1.5rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: -36px;
    left: 16px;
    width: 68px;
    height: 68px;
    border-radius: 50vh;
    background-color: var(--ctp-mocha-red);
    background-image: linear-gradient(to right, var(--ctp-mocha-red), var(--ctp-mocha-peach));
  }
  .commentMeta {
    display: flex;
    align-items: center;
    .date {
      color: var(--ctp-mocha-surface2);
      font-size: 0.875rem;
      padding-left: 1.5rem;
    }
    .likes {
      padding-left: 1rem;
    }
    .delete {
      margin-left: auto;
      background-color: var(--ctp-mocha-red);
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover {
        position: relative;
        top: -1px;
      }
      &:active {
        top: 0px;
      }
    }
  }
}
