#likeArticle {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 1rem;
  padding: 2rem 2rem 0;

  button {
    background: transparent;
    color: var(---ctp-mocha-text);
    border: none;
    cursor: pointer;
    font-size: 1.5rem;

    &:disabled {
      opacity: 0.5;
    }
    &.likeTouched {
      color: var(--ctp-mocha-green);
      opacity: 1;
    }
    &.dislikeTouched {
      color: var(--ctp-mocha-red);
      opacity: 1;
    }
  }
}
#likeError {
  color: var(--ctp-mocha-red);
  text-align: center;
}
