#likeArticle {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;

  button {
    background: transparent;
    color: var(---ctp-mocha-text);
    border: none;
    cursor: pointer;
    font-size: 1.5rem;

    &.touched {
      color: var(--ctp-mocha-green);
    }
  }
}
