main {
  display: flex;
  gap: 2rem;
  padding: 2rem 0;
  align-items: stretch;
}
.container {
  min-width: 1200px;
  max-width: 1200px;
  flex-grow: 1;
}
@media screen and (max-width: 1200px) {
  .container {
    min-width: 600px;
    width: 95%;
  }
}
@media screen and (max-width: 650px) {
  .container {
    min-width: 0px;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
  }
}
