main {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}
.container {
  min-width: 1200px;
  max-width: 1200px;
}
@media screen and (max-width: 1200px) {
  .container {
    min-width: 600px;
    width: 95%;
  }
}
@media screen and (max-width: 650px) {
  .container {
    min-width: 0px;
    width: 100%;
  }
}
